/* Style pour le header */
header {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(222, 222, 222);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    /*Logo*/
    .logo-arcadia {
      display: flex;
      align-items: center;
    }
    
    .logo {
      width: 50px; 
      height: auto;
      margin-right: 10px;
    }
    
    .logo_text {
      font-family: 'Roboto', sans-serif; 
      font-weight: 700;
      font-size: 22px;
      margin-right: 20px; 
    }


/*Barre de recherhce*/
.search-bar {
    flex-grow: 1; 
    text-align: center;
  }
  .search-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
  
  #search {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 16px;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .search-button i {
    color: #555;
  }
  
  .search-button:hover i {
    color: #333;
  }
/* Style pour le conteneur des albums */
.albums-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
}

.album-container:hover {
    transform: scale(1.05);
}

.album-container a {
    text-decoration: none;
    color: #333;
}

.album-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.album-container p {
    margin: 10px 0 0;
    font-size: 16px;
}
