

header {
    position: relative; 
    padding-bottom: 5px;
  }
  
  header::after {
    content: '';
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    height: 1px; 
    background-color: #ccc; 
  }
  h1{
      margin-left: 74px;
      font-family: 'Roboto', sans-serif; 
      font-size: 50px;
      font-weight: 600;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /*Logo*/
  .logo-arcadia {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    height: auto;
    margin-right: 10px;
  }
  
  .logo_text {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 22px;
    margin-right: 20px; 
  }
  
  /*Barre de recherche*/
  .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-container {
    position: relative;
    width: auto; 
  }
  
  #search {
    width: 360px;
    padding: 15px;
    border: none;
    border-radius: 10px; 
    background-color: #e0e0e0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 16px;
  }
  
  #search:hover {
    border: 2px solid #7F00C4;
   }
  
  .search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .search-button i {
    color: black;
  }
  
  .search-button:hover i {
    color: #333;
  }
  
  
  body {
    background-color: #fff;
  }
      
  .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
  
  .albums-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }
  
  .album-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      background-color: #f9f9f9;
      transition: transform 0.2s;
  }
  
  .album-container:hover {
      transform: scale(1.05);
  }
  
  .album-container a {
      text-decoration: none;
      color: #333;
  }
  
  .album-container img {
      width: 100%;
      height: auto;
      border-radius: 5px;
  }
  
  .album-container .album {
      font-family: 'Roboto', sans-serif;
      color: black; 
      margin: 10px 0 0;
      font-size: 16px;
  }
  .album-container .artiste {
      font-family: 'Roboto', sans-serif; 
      color: grey;
      margin: 10px 0 0;
      font-size: 16px;
  }